.genres{
  background-color: #0f0f0f;
  margin-top: 1.5rem;
  border-radius: 10px;
  padding: 0 1rem 0.5rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.genreList{
  display: flex;
  gap: 0.6rem;
  padding: 0.5rem 0;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.genreList img{
  width: 50px;
  height: 40px;
  border-radius: 5px;
  object-fit: cover;
}

.genreList div{
  display: flex;
  align-items: center;
}

.genreList:hover{
  background-color: #39393994;
  cursor: pointer;
  transform: scale(1.05);
}

.genresHead{
  font-size: 1.4rem;
  padding: 1rem 0;
  font-weight: 600;
}

@media screen and (min-width: 800px){
  .genres{
      width: 350px;
  }
}

@media only screen and (max-width: 1000px) {
  .genres{
    display: none;
}
}