.navbar{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #0f0f0f;
}

.logo{
    font-size: 2rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
}

.navbar input{
    margin-left: auto;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}

@media only screen and (max-width: 600px) {
    .navbar input{
        width: 30vw;
    }
}