.popularSection{
    width: 65vw;
    margin: 1.5rem;
}

.popularCardsSection{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}

.popularImg{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.popularHead{
    font-size: 2rem;
    margin: 3rem 0 2rem;
    font-weight: 600;
}

.popularCard{
    width: 310px;
    height: 250px;
    background-color: #0f0f0f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
    padding: 1rem;
}
.popularGameName{
    text-align: center;
    padding: 0.5rem 0;
}
.popularCard:hover{
    transform: scale(1.05);
    opacity: 0.7;
}

.popularDetails{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

@media only screen and (max-width: 1000px) {
    .popularSection{
        margin: 1rem auto;
        width: 90%;
    }
    .popularCard{
        width: 48%;
        margin: 0 auto;
        height: 30vw;
        padding: 0.5rem;
    }
    .popularImg{
        width: 90%;
        height: 65%;
    }
}

@media only screen and (max-width: 600px) {
    .popularHead{
        font-size: 1.3rem;
        margin: 2rem 0 1rem;
    }
    .popularCard{
        width: 48%;
        height: 170px;
        padding: 0.5rem;
    }
    .popularCardsSection{
        gap: 0.5rem;
        justify-content: space-around;
    }
    .popularSection{
        width: 95%;
    }
    .popularHead{
        font-size: 1.5rem;
    }
    .popularDetails{
        font-size: 0.65rem;
        width: 100%;
    }
    .popularImg{
        width: 95%;
        height: 65%;
    }
    .popularGameName{
        font-size: 0.9rem;
    }
}